/* ======================================================
   LAYOUT.CSS — Containers & Responsive
====================================================== */

.container {
    width: 92%;
    max-width: 1280px;
    margin: auto;
}

/* Responsive */
@media (max-width: 992px) {
    .search-bar {
        display: none;
    }

    .nav-links {
        display: none;
    }
}
