/* ======================================================
   BUTTONS.CSS
====================================================== */

.btn-primary {
    width: 100%;
    padding: 10px;
    border: none;
    background: var(--primary);
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
}

.btn-primary:hover {
    background: var(--primary-dark);
}
